@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.policy {
  padding: 60px 0 60px;

  .container {
    h2, h3, h4 {
      @include head-lora-38;
      font-weight: 500;
    }

    h3 {
      //color: $light-blue-color;
      font-size: 26px;
      margin-bottom: 15px;
    }

    h4 {
      margin-bottom: 20px;

      font-size: 20px;
    }

    p {
      margin-bottom: 30px;
    }

    div p {
      margin-bottom: 10px;

    }
  }
}
