@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $main-blue-color;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $main-blue-color;
}

.button {
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  outline: none;
  background: $light-blue-color;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;

  &:disabled {
    background: rgba(130, 139, 150, 0.82);
    cursor: not-allowed;
  }
}

nav ul {
  @include flex_content-between;
  list-style: none;
}

.input {
  border-radius: 3px;
  border: 2px solid $light-blue-color;
  background: #FFF;
  padding: 18px 20px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $main-blue-color;

  &::placeholder {
    color: #A8ABA7;
  }

  &[type="checkbox"] {
    padding: 0;
  }
}


input[type="checkbox"] {
  position: relative;
  min-width: 14px;
  height: 14px;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 0px;
    left: 4px;
    width: 4px;
    height: 9px;
    border-style: solid;
    border-color: $light-blue-color;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: $light-blue-color;
    border-color: $light-blue-color;
    background: #fff;
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}


.articles-items {
  @include flex_content-between;
  margin-bottom: 40px;
  flex-wrap: wrap;

}


.mat-mdc-menu-item {
  a, span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: $main-blue-color;
  }
}

.article-text {

  h3 {
    color: $light-blue-color;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    margin-top: 40px;
  }

  p {
    color: $main-blue-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 130%;
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  ul, ol {
    list-style-position: outside;
    margin-left: 20px;
    font-size: 14px;
  }

  ul {
    list-style-type: disc;
    li::marker {
      font-size: 8px;
    }
  }
}

/* Owl Carousel */
.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.owl-theme .owl-dots .owl-dot span {
  margin: -5px 10px;
  background: transparent;
  border: 1px solid #fff;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px!important;
}

.invalid-message {
  color: red;
  text-align: left;
  margin: 5px 0 10px;
  font-size: 13px;
}
